<div class="container">
    <h4 class="mt-5">Formularios reactivos <small>validados</small></h4>
    <hr>
    <form [formGroup]="forma" (ngSubmit)="guardar()">
      <div>
        <div class="form-group row">
          <label class="col-2 col-form-label">Nombre</label>
          <div class="col-8">
            <input class="form-control"
            type="text"
            formControlName="nombre"
            [class.is-invalid] = "nombreNoValido"
            placeholder="Nombre">
            <small *ngIf="nombreNoValido" class="text-danger">Nombre es un campo requerido</small>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-2 col-form-label">Apellidos</label>
          <div class="col-8">
            <input class="form-control"
            type="text"
            formControlName="apellidos"
            placeholder="apellidos">
          </div>
        </div>
      

        <div class="form-group row">
          <label class="col-2 col-form-label">nif</label>
          <div class="col-8">
            <input class="form-control"
            type="text"
            formControlName="nif"
            [class.is-invalid] = "nifNoValido"
            placeholder="nif">
            <small *ngIf="nifNoValido" class="text-danger">Nif es un campo requerido</small>
          </div>
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-md-8">
          <input class="form-control"
          type="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
          formControlName="email"
          [class.is-invalid] = "emailNoValido"
          placeholder="email">
          <small *ngIf="emailNoValido" class="text-danger">email es un campo requerido</small>
          <small *ngIf="emailNoValido" class="text-danger">No tiene el formato adecuado</small>
        </div>
      </div>
  
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Password</label>
        <div class="col-md-8">
          <input class="form-control"
          type="password"
          formControlName="password"
          [class.is-invalid] = "passwordNoValido"
          placeholder="password">
          <small *ngIf="passwordNoValido" class="text-danger">No tiene el formato correcto. Mínimo 6 dígitos y al menos 1 número{{forma.get('password')?.errors?.['minlength']?.requiredLenght}}</small>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Teléfono</label>
        <div class="col-md-8">
          <input class="form-control"
          type="telefono"
          formControlName="telefono"
          placeholder="telefono">
        </div>
      </div>

      <div class="form-group">
        <label for="pais">País</label>
        <select id="pais" formControlName="pais" class="form-control">
          <option value="" disabled selected>Selecciona un país</option>
          <option *ngFor="let pais of paises" [value]="pais">{{ pais }}</option>
        </select>
      </div>
      

      <div class="form-group row">
        <label class="col-2 col-form-label">Descripción</label>
        <textarea class="form-control" name="comment" id="comment" rows="2" 
         placeholder="descripcion" formControlName="comment"></textarea>
        </div>
      
      <div class="form-group row">
        <label for="checkbox" class="form-label">Aceptar términos y política de privacidad</label>
        <input type="checkbox" class="form-check-input" id="checkbox" name="checkbox" formControlName="checkbox" required>
      <div *ngIf="forma.get('checkbox')?.touched && forma.get('checkbox')?.errors?.['required']"
      class="alert alert-danger">Este campo es obligatorio</div>
      </div>
     

    

      <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
          <button type="submit" class="btn btn-outline-primary mr-2">
            Guardar
          </button>
          <button type="button" class="btn btn-outline-danger" (click)="limpiar()">
            Limpiar
            </button>
        </div>
      </div>
    </form>
  
    <hr>
    <h3 class="mt-5">Formulario</h3>
    <pre>Estado fomulario:{{forma.valid}}
      <br>
      Status:{{forma.status}}
    </pre>
  
    <pre>
      {{forma.value | json}}
    </pre>
    </div>